<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>springweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- front controller과 url 패턴 선언 *.do
  	dispatcher 컨테이너 이름으로 설정 처리
  	컨테이너명과 : [dispatcher]-servlet.xml
  				dispatcher-servlet.xml
  	프린트 컨트롤러선언 : 스프링 프레임워크에 있는..
  -->
 <context-param>
 	<param-name>contextConfigLocation</param-name>
 	<param-value>/WEB-INF/conf/spring_security.xml</param-value>
  <!-- 하단에 계속 추가하여 필요에 따라 사용가능 -->
 </context-param> 
 
 <listener>
 	<listener-class>
 		org.springframework.web.context.ContextLoaderListener
 	</listener-class>
 </listener>
 
<servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.do</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>dispatcher</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<!-- 요청값이 get/post방식 상관없이 한글일 때, encoding 처리해서 서버에 전달
프래임워크 모두 다 : /* -->
<filter-mapping>
	<filter-name>encodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
<filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
<init-param>
	<param-name>encoding</param-name>
	<param-value>utf-8</param-value>
</init-param>
</filter>

</web-app>